.menu-main-container {
  .menu-header {
    width: 50%;
    background-color: #f0f5f5;
    padding: 10px 20px;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    .item-title {
      font-weight: bold;
      font-size: 15px;
    }
  }
  .menu-body {
    width: 50%;
    background-color: #f0f5f5;
    margin: 10px auto;
    .menu-container {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #bec5c5;
      padding: 10px 0;
      .menu-img {
        width: 25%;
        display: flex;
        justify-content: end;
        padding: 10px 20px;
        position: relative;
        .item-btn {
          position: absolute;
          top: 110px;
          left: 35px;
          width: 120px;
          height: 40px;
          background-color: #000000;
          border-radius: 10px;
          font-weight: 600;
          color: #fff;
          font-family: "Noto Sans", sans-serif;
          font-weight: 700;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .btn{
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          background-color: #000000;
          width: 120px;
          top: 110px;
          left: 35px;
          height: 40px;
          border-radius: 10px;
          font-weight: 700;
        .minus-btn {
          width: 20px;
          height: 40px;
          background-color: #000000;
          color: #fff;
          text-align: center;
          margin: 0 auto;
          font-size: 12px;
          cursor: pointer;
        }
        .add-btn {
          width: 20px;
          height: 40px;
          background-color: #000000;
          color: #fff;
          text-align: center;
          margin: 0 auto;
          cursor: pointer;
        }
        .ItemsNumber{
          width: 40px;
          height: 40px;
          background-color: #fff;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      }

      .menu-description {
        width: 75%;
      }
      .item-name {
        font-size: 14px;
        padding: 10px 20px;
      }
      .item-description {
        text-align: justify;
        width: 90%;
        font-size: 14px;
        padding: 10px 20px;
        margin-bottom: 10px;
      }
      .item-price {
        font-weight: 700;
        font-size: 14px;
        margin-left: 20px;
      }
      .item-img {
        width: 200px;
        height: 125px;
        border-radius: 15px;
      }
    }
  }
}
