.menu-card {
  .restaurant-name{
    text-align: center;
    color: #2596be;
    font-size: 28px;
    font-weight: 700;
  }
  .menu-items {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
